.videoCard{
    width: 280px;
    margin-bottom: 40px;
}

.videCard_videoImg{
    height: 140px;
    width: 260px;
}

.videoCard_videoInfo{
    display: flex;
    margin-top: 5px;
    padding-right: 15px;
}

.videoCard_avatar{
    margin-right: 10px;
    height: 36.8px !important;
    width: 36.8px !important;
}

.videoCard h4{
    font-size: 14px;
    margin-bottom: 5px;
}

.videoCard_smallText{
    font-size: 14px;
    color: dimgray;
}