.sidebar{
    flex: 0.15;
}

.sidebar_hidden{
    display: none;
}

.sidebar hr{
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
}

.sidebar hr:first-of-type{
    margin-bottom: 10px;
}